/* Header */

.navbar-toggler {
    border: solid 1px black;
}

/* Style produit page d'acceuil */

.link.card {
    width: 20%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.card, a.card:hover {
    color: #202020;
    text-decoration: none;
}

a.card:hover {
    box-shadow: 0px 0px 8px 4px rgba(32, 32, 32, 0.3);
}
.card-header {
    text-align: center;
}

.card-subtitle {
    padding-left: 1rem;
    padding-top: 1rem;
}

.card-text {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

#product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

@media(max-width : 768px){
    
    #product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .link.card {
        width: 80%;
        margin: 0;
        margin-bottom: 1rem;
    }

}

/* Style produit page produit */

.produit {
    width: 25%;
}

@media(max-width : 768px) {
    .produit {
        width: 65%;
    }
}

/* Style Bouton */

.btn.btn-primary {
    font-size: 16px; 
    border: 2px solid #e1c984; 
    background:transparent;
    padding:15px 40px; 
    text-transform:uppercase;
    border-radius:30px;
    color:black;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.btn.btn-primary:hover {
    background:#e1c984;
    border-radius:0;
    border: 2px solid #e1c984;
    color:white;
}

.btn.btn-primary:hover {
    background:#b4a064;
    border-radius:0;
    border: 2px solid #b4a064;
    color:white;
}

.btn.btn-primary.btn-remove{
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.table
td {
    vertical-align: middle;
}
.btn.btn-primary.btn-basket{
    width: 60%;
}
@media(max-width : 768px){
    .btn.btn-primary.btn-basket{
        width: 100%;
    }
    
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #e9ecef;
    padding: 2rem;
    margin-top: 5%;
    position: relative;
    bottom: 0rem;
}

.footer-command {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Style Panier */

.totalPanier{
    text-align: right;
    margin-right: 5%;
    font-weight: 800;
}

td, tr{
    text-align: center;
}
.basketImg{
    width: 12rem;
}

.row{
    justify-content: center;
}



/* Style Formulaire */

#nom-incorrect, 
#prenom-incorrect, 
#email-incorrect,
#ville-incorrect,
#adresse-incorrect{
    font-size: smaller;
    color: red;
    position: relative;
    top: -1.5rem;
}

.form-group{
    margin: 0;
}
